body{
    background-color:whitesmoke;
}
#container{
 height: 500px;
 display: flex;   
}
#box-1{
    width: 50%;
    height: 50%;
        }
#box-2{
    width: 50%;
    height: 50%;
}
#box{
    height: 500px;
    display: flex;
}
#box3{
    width: 50%;
    height: 50%;
}
#box4{
    width: 50%;
    height: 50%;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: cyan
      }
        .red-text{
            color: black;
        }
      
button{
    background-color: yellow;
}
#download{
    background-color: black;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
}
.profile-name{
    display: flex;
}

.nav-right{
    float: right;
}
#main{
    margin: 30px 8px;
    border-radius: 5px;
}